@keyframes fadeinup {
  0% {
    transform: translateY(10);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




$hue: 43;
$shift: 4;
$color: hsl($hue,90%,60%);
$light: lighten(adjust-hue($color,$shift), 10%);
$lighter: lighten(adjust-hue($color,$shift*2), 20%);
$dark: darken(adjust-hue($color,-$shift*3), 15%);
$darker: darken(adjust-hue($color,-$shift*4), 50%);

$sans: 'Open Sans', sans-serif;
$serif: 'Merriweather', serif;

$base: 1vh;
$rad: 20rem;
$pers: 100rem;

$time: 1.8s;

$ease-in: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);

@keyframes bounce {
  0%{
    transform: translatey(0);
    animation-timing-function: $ease-out;
  }
  2%{
    transform: translatey(0);
    animation-timing-function: $ease-out;
  }
  50%{
    transform: translatey(-$rad*1.2);
    animation-timing-function: $ease-in;
  }
  100%{
    transform: translatey(0);
    animation-timing-function: $ease-out;
  }
}
@keyframes shadow {
  0%{
    transform: scaley(0.5) scalex(1) translatey(0);
    animation-timing-function: $ease-out;
    box-shadow: $rad*0.125 $rad*0.5 0.5*$rad $rad*0.25 rgba($dark,0.4);
  }
  2%{
    transform: scaley(0.5) scalex(1) translatey(0);
    animation-timing-function: $ease-out;
    box-shadow: $rad*0.125 $rad*0.5 0.5*$rad $rad*0.25 rgba($dark,0.4);
  }
  50%{
    transform: scaley(0.5) scalex(1) translatey($rad*2);
    animation-timing-function: $ease-in;
    box-shadow: $rad*0.75 $rad*2 2*$rad $rad*0.5 rgba($dark,0.4);
  }
  100%{
    transform: scaley(0.5) scalex(1) translatey(0);
    animation-timing-function: $ease-out;
    box-shadow: $rad*0.125 $rad*0.5 0.5*$rad $rad*0.25 rgba($dark,0.4);
  }
}

@keyframes squish{
  0%{
    transform: scaley(0.95) scalex(1.05);
    animation-timing-function: $ease-out;
  }
  7%{
    transform: scaley(0.85) scalex(1.15);
    animation-timing-function: $ease-out;
  }
  50%{
    transform: scaley(1.05) scalex(0.95);
    animation-timing-function: $ease-out;
  }

  100%{
    transform: scaley(1) scalex(1);
    animation-timing-function: $ease-out;
  }
}

@keyframes entry{
  0%{
    transform: perspective($pers) translate3d(85vw,-25vh,-50rem);
  }
  100%{
   transform: perspective($pers) translate3d(-50vw,25vh,50rem);
  }
}
