@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

$white: #DAE1EA;
$green: #00D466;
$blue: #298BB3;
$darkBlue: #0b0055;
$red: #C22F00;
$yellow: #FF8C00;

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

html, body {
  margin:0;
  padding:0;
}

body {
  border-left: 10px solid transparent;
  border-image: linear-gradient(to top, $blue, $green 100%);
  border-image-slice: 1;
  color: $white;
  padding: 1em;
  min-height: 100vh;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b0055+0,9b0077+100 */
  // background: #0b0055;
  // background: -moz-linear-gradient(top,  #0b0055 0%, #9b0077 100%);
  // background: -webkit-linear-gradient(top,  #0b0055 0%,#9b0077 100%);
  // background: linear-gradient(to bottom,  #0b0055 0%,#9b0077 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0055', endColorstr='#9b0077',GradientType=0
  // );
  background-repeat: no-repeat;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#510094+0,0b0055+100 */
  background: #510094; /* Old browsers */
  background: -moz-linear-gradient(top right, #510094 0%, #0b0055 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top right, #510094 0%,#0b0055 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom right, #510094 0%,#0b0055 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#510094', endColorstr='#0b0055',GradientType=0 ); /* IE6-9 */
}

body,
p,
ul,
h1, h2, h3, h4, h5, h6 {
  // color: #dae1ea;
  color: $white;
  font-family: 'Orbitron', sans-serif;
}

a {color: $green;}

h1 {
  font-size: 4.8rem;
  line-height: 3rem;
}
h2 {
  font-size: 3.3rem;
}
h3 {
  font-size: 2.5rem;
  line-height:2rem;
}
p {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
}

.up-arrow {
  border-radius: 3px;
  display: block;
  width: 45px;
  opacity: .5;
  transition: all ease-in-out .3s;

  &:hover { opacity: .85;}
}

.btn {
  padding: 0.5em 1.2em;
  border: 3px solid #fff;
  text-decoration: none;
  background: rgba(251, 252, 252, 0.1);
  text-align: center;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-green {
  border-color: $green;
  color: $green;
}

.btn-blue {
  border-color: $blue;
  color: $blue;
}

.btn-red {
  border-color: $red;
  color: $red;
}

.btn-yellow {
  border-color: $yellow;
  color: $yellow;
}

.btn-white {
  border-color: $white;
  color: $white;
}


/*
  Backgrounds
*/


.text-blue {
  color: $blue;
}

/*
  logo
*/
a.logo {
  &:hover {
    text-decoration: none;
  }
  svg,
  img {
    width: 120px;
    height: auto;
    margin: 0;
  }
}


/*
  Navbar
*/
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    border-top: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    transition: box-shadow .2s;
    overflow: visible;
    font-weight: bold;

    &:hover {box-shadow: inset 0 -0.7em 0 0 rgba(108,216,206,0);}
  }
}

.mobile-collapse {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  animation: fadein 400ms linear;

  a {
    color: $white;
    margin-left: 5%;
    transition: all ease-in-out .3s;
    animation: fadeinup 300ms linear 200ms;
  }

  &.open {
    display: flex;
  }
}

.github-icon,
.home-icon {
  fill: currentColor;
  fill: $white;
  opacity: 0.5;
  margin-bottom: 0;
  height: 32px;
  width: 32px;
}

.nav-icon {
  width: 42px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 110;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: $green;
  background: -moz-linear-gradient(top left,  $green 0%, $blue 100%);
  background: -webkit-linear-gradient(top left,  $green 0%,$blue 100%);
  background: linear-gradient(to bottom left,  $green 0%,$blue 100%);

  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
  top: 12px;
}

.nav-icon span:nth-child(4) {
  top: 24px;
}

.nav-icon.open span {
  background: $blue;
  // background: -moz-linear-gradient(top left,  $blue 0%, $green 100%);
  // background: -webkit-linear-gradient(top left,  $blue 0%, $green 100%);
  // background: linear-gradient(to bottom left,  $blue 0%, $green 100%);
}

.nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/*
  Content
*/
.content {
  margin: 0 auto;
  // max-width: 960px;
  // padding: 2.9rem 1.0875rem 1.45rem;
  padding: 2.5% 10%;

  a {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
    &:before, &:after {
      content: '';
      position: absolute;
      transition: transform .5s ease;
    }
  }
}

/*
  Contact form styles
*/
.contact-form {
  display: flex;
  flex-direction: column;

  label {margin-bottom: 10px;}

  input,
  textarea,
  select {
    font-size: 19px;
    height: 80px;
    margin-bottom: 40px;
    background: rgba(0,0,0,.3);
    border: 3px solid $white;
    color: $white;
    padding: 1rem;
    box-shadow: 0 0 5px $green;

    &:focus {
      border: 3px solid $green;
      outline-color: $green;
    }
  }

  input[type="submit"] {
    padding: 0 1rem;
    text-align: center;
    border-radius: 3px;
    transition: .2s all;
    color: $green;
    border: 3px solid $green;
    background: rgba(251, 252, 252, 0.2);
  }

  input[type="submit"]:hover {
    cursor: pointer;
    opacity: .7;
  }
}



/*
  About Page Icons
*/
.about-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.about-icons a {
  width: 20%;
  margin: 0 2.5% 20px;
  text-align: center;
}

.about-icons span {color: #fff;}

.about-icons img.white-bkgd {
  background-color: #fff;
  padding: 1em;
}



/*
  IndexPage
*/
.IndexPage {
  h2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  p { font-size: 2em; }
}

/*
  PostPreview
*/
.post-preview {

}

.post-details {
  padding: 2.9rem 1.0875rem 1.45rem;
}

.post-image {
  background: black;
  display: block;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

ul.post-preview_tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  list-style: none;

  li {
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px 6px;
    margin-right: 12px;
    font-size: .6em;
  }
}

@media (max-width: 50em) {
  .mobile-collapse {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    z-index: 100;
    @include background-opacity(darken($blue, 0%), 0.98);

    a {
      font-size: 2em;
      margin: 0;
    }
  }

  .nav-icon.open span {
    background-color: $white;
  }

  .row { flex-direction: column; }
  .col-6 {
    width: 96%;
    margin: 0 2%;
  }
}
